 /* ---------- Global ---------- */
:root {
    --cyan: #45C8BC;
    --grey: #34383A;
    --offwhite: #F1F1EC;
    --orange: #E45E40;
    --yellow: #FDD069;
}

body {
    background-color: var(--grey);
    color: var(--offwhite);
    font-family: 'Inter', sans-serif;
}

/* ---------- Header & Footer ---------- */
header,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

#wordmark {
    color: var(--cyan);
    font-size: 2.5em;
}

#wordmark>span {
    color: var(--orange);
}

nav>ul {
    display: flex;
    flex-flow: row nowrap;
    padding-left: 0px;
    list-style-type: none;
}

nav a {
    margin: 0 1.2em 0 1.2em;
    color: var(--yellow);
    text-decoration: none;
    text-transform: lowercase;
}

a:hover {
    text-decoration: underline;
}

/* ---------- Main ---------- */
main {
        margin: 0 3rem 0 3rem;
    }

/* ----- About Me Section----- */
#about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 1rem 5rem 1rem;
    line-height: 1.5rem;
}

#about-me>img {
    width: 320px;
}

h1 {
    font-size: 2.25rem;
}

#about-me span {
    color: var(--yellow);
}

#view-work {
    background-color: var(--yellow);
    padding: 10px;
    color: var(--grey);
    border-radius: 3%;
    font-weight: bold;
    text-decoration: none;
    line-height: 5rem;
}

#view-work:hover {
    outline: medium dashed var(--offwhite);
}

/* ----- My Work Section */

h2 {
    color: var(--yellow);
    text-transform: lowercase;
}

#my-work {
    display: flex;
    flex-direction: column;
}

#my-work img {
    border-left: medium solid var(--orange);
    border-right: medium solid var(--cyan);
    width: 300px;
}
.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project {
}

/* ----------Responsive Design ---------- */
@media screen and (min-width: 768px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
    }

    main {
        margin: 0 4rem 0 4rem;
    }

    footer {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .projects-container {
        display: flex;
        flex-flow: row wrap;
    }

    h1 {
        color: red;
    }
}

@media screen and (min-width: 992px) {
    main {
        margin: 0 8rem 0 8rem;
    }

    #about-me {
        flex-direction: row;
    }

    #about-me img {
        margin-right: 8rem;
    }

    h1 {
        color: violet;
    }

}