 /* 🌍 Global & General Utilities 🌎 */
 :root {
     --cyan: #45C8BC;
     --darker: rgba(0, 0, 0, 0.03);
     --grey: #34383A;
     --offwhite: #F1F1EC;
     --orange: #E45E40;
     --yellow: #FDD069;
 }

 body {
     margin: 0;
     background-color: var(--grey);
     color: var(--offwhite);
     font-family: 'Inter', sans-serif;
 }

 /* For single column layout on smaller screens.
 widescreenify class is for responsive layout. */
 section,
 .widescreenify {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 * {
     box-sizing: border-box;
 }

 a:hover {
     color: var(--cyan);
 }

 .text-yellow-accent {
     color: var(--yellow);
     font-weight: bold;
     text-decoration: none;
     text-transform: lowercase;
 }

 .text-cyan {
     color: var(--cyan);
 }

 .text-orange {
     color: var(--orange);
 }

 /* 👱‍♂️ Header & Footer 🦶*/
 header,
 footer {
     padding: 1em;
     background-color: var(--darker);
     font-weight: bold;
     border: 1px dashed black;
 }

 .wordmark {
     margin: 15px;
     font-size: 2.5em;
 }

 footer img {
     width: 40px;
 }

 footer img:hover {
     filter: drop-shadow(3px 3px var(--cyan))
 }

 /* 📍 Navigation 📍 */
 nav>ul,
 #socials-list {
     display: flex;
     padding-left: 0px;
     list-style-type: none;
 }

 nav a,
 #socials-list a {
     margin: 0 1em 0 1em;
 }

 /* 📃 Main 📜 */
 main {
     margin: auto;
     padding: 0 1em 0 1em;
 }

 section {
     margin: 6em auto 6em auto;
     line-height: 1.5em;
 }

 h1 {
     font-size: 2em;
     text-align: center;
     line-height: 1.2em;
 }

 h2 {
     font-size: 1.75em;
     padding-top: 0.5em;
     border-top: dashed black;
 }

 #intro-section>img {
     width: 320px;
 }

 /* 💻 My Projects Section 👨‍💻 */
 figure {
     margin: 0;
 }

 figcaption {
     position: relative;
     top: 1.75em;
     padding: 0 1.1em 0 1.1em;
     text-align: end;
     background-color: rgba(0, 0, 0, 0.7);
 }

 #projects-section img {
     width: 400px;
 }

 figure:hover {
     filter: saturate(200%);
 }

 figure img:hover {
     outline: medium solid var(--cyan);
 }


 /* 📋 Experience Section 📋 */
 h3 {
     margin-bottom: 0.2em;
 }

 #experience-section>a {
     margin-top: 1.25em;
     font-size: 1.25em;
 }

 /* 💪 Responsive Design 🪩 */
 @media screen and (min-width: 768px) {
     main {
         width: 85%;
     }

     header {
         border-right: 2px solid var(--cyan);
     }

     footer {
         border-left: 2px solid var(--orange);
     }
 }

 @media screen and (min-width: 992px) {

     .widescreenify {
         flex-direction: row;
         justify-content: space-between;
         align-items: baseline;
     }

     main {
         width: 70%;
     }

     nav a {
         font-size: 125%;
     }

     section {
         align-items: start;
     }

     #intro-section {
         align-items: center;
     }

     #intro-section img {
         margin-right: 8em;
     }
  
     /* Flexbox column becomes grid on wider viewports to better manage layout. */
     #projects-grid {
         margin: auto 3em auto 3em;
     }

     #projects-grid {
         display: grid;
         gap: 1em;
         grid-template: auto / repeat(3, 1fr);
     }

     #highlight {
         grid-row: span 2;
         grid-column: span 2;
     }

     #projects-grid img {
         width: 100%;
         height: 100%;
         object-fit: cover;
     }

     #experience-section>p,
     #contact-section>p {
         margin-left: 0.5em;
     }
 }
